<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        Blocks: <%- blockchain.blocks %>
        Difficulty: <%- blockchain.difficulty %>
        Median Time: <%- blockchain.mediantime %>
    </body>
</html>
