<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <style media="screen">
            #header {
                display: block;
            }

            #header > * {
                display: inline-block;
                padding: 8px;
                background-color: #f3f3f3;
                border: 1px solid #d7d7d7;

            }
        </style>
    </head>
    <body>
        <div id="header">
            <a href="/blocks">Blocks</a>
        </div>
    </body>
</html>

<!-- test -->
