<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title><%- id.toUpperCase() + " " + coins[id.toUpperCase()].price %></title>
    <link rel="stylesheet" href="/stylesheets/css/test.css">
</head>

<body>
    <% include header.ejs %>
    <% include coins.ejs %>
    <% include coinInfo.ejs %>
</body>

</html>
